<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>

  <!-- $Id$ -->

  <name replace-wildcards="yes">Remote Terminal on %h</name>

  <service>
    <type>_ssh._tcp</type>
    <port>22</port>
  </service>

  <service>
    <type>_telnet._tcp</type>
    <domain-name>local</domain-name>
    <host-name>fuck.local</host-name>
    <port>23</port>
    <txt-record>foo=bar</txt-record>
    <txt-record>waldo=buzz</txt-record>
    <txt-record>another=record</txt-record>
  </service>

</service-group>
