---
name: Build test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    concurrency:
      group: ${{ github.workflow }}-${{ toJSON(matrix.env) }}-${{ matrix.runner }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-24.04, ubuntu-24.04-arm]
        env:
          - { CC: "gcc", DISTCHECK: "true", VALGRIND: "true" }
          - { CC: "gcc", ASAN_UBSAN: "true" }
          - { CC: "gcc", ASAN_UBSAN: "false", CFLAGS: "-g -O2 -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3 -fno-omit-frame-pointer" }
          - { CC: "clang", ASAN_UBSAN: "false" }
          - { CC: "clang", ASAN_UBSAN: "true" }
    env: ${{ matrix.env }}
    steps:
      - name: Repository checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: sudo -E .github/workflows/build.sh install-build-deps
      - run: sudo -E .github/workflows/build.sh build
  coverage:
    if: github.repository == 'avahi/avahi'
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      contents: read
      checks: write
    env:
      CC: "gcc"
      COVERAGE: "true"
    steps:
      - name: Repository checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: sudo -E .github/workflows/build.sh install-build-deps
      - run: sudo -E .github/workflows/build.sh build
      - name: Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: ./coverage.info
          format: lcov

  bsd:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.version }}-${{ toJSON(matrix.env) }}-${{ github.ref }}-bsd
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        os: ['freebsd']
        version: ['14.3', '15.0']
        env:
          - { CC: "clang", ASAN_UBSAN: "false", DISTCHECK: "true" }
          - { CC: "clang", ASAN_UBSAN: "true", DISTCHECK: "false" }
          - { CC: "clang", ASAN_UBSAN: "false", VALGRIND: "true" }
        include:
          - os: 'netbsd'
            version: '10.1'
            env: { CC: "gcc" }
    env: ${{ matrix.env }}
    steps:
      - name: Repository checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cross-platform-actions/action@3fbf2723ff48aac8defe0070706f36088999fd47 # v0.31.0
        with:
          operating_system: ${{ matrix.os }}
          version: ${{ matrix.version }}
          architecture: 'x86_64'
          environment_variables: ASAN_UBSAN CC DISTCHECK VALGRIND
          run: |
            sudo -E .github/workflows/build.sh install-build-deps-${{ matrix.os }}
            sudo -E .github/workflows/build.sh build

  alpine:
    runs-on: ubuntu-24.04
    container:
      image: alpine
      env: ${{ matrix.env }}
      options: --init
    concurrency:
      group: ${{ github.workflow }}-${{ toJSON(matrix.env) }}-${{ github.ref }}-alpine
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        env:
          - { CC: "gcc", VALGRIND: "true", DISTCHECK: "true" }
          - { CC: "clang", VALGRIND: "false", DISTCHECK: "false" }
    steps:
      - name: Repository checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: |
          apk add bash
          .github/workflows/build.sh install-build-deps-Alpine
          .github/workflows/build.sh build
