---
name: Coverity

on:
  schedule:
    # Run Coverity daily at midnight
    - cron:  '0 0 * * *'

permissions:
  contents: read

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-24.04
    if: github.repository == 'avahi/avahi'
    steps:
      - name: Repository checkout
        uses: actions/checkout@v4

      - run: sudo -E .github/workflows/build.sh install-build-deps

      - name: Run Coverity
        env:
          COVERITY_SCAN_TOKEN: "${{ secrets.COVERITY_SCAN_TOKEN }}"
          COVERITY_SCAN_NOTIFICATION_EMAIL: "${{ secrets.COVERITY_SCAN_NOTIFICATION_EMAIL }}"
        run: .github/workflows/coverity.sh
