---
name: Super-Linter

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    name: Lint GH Actions
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint
        uses: super-linter/super-linter/slim@v8.2.0
        env:
          MULTI_STATUS: false
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_GITHUB_ACTIONS: true
